@import "../font/myriad/font.css";
$bg-vang:#FCDA34;
$cl-xanh:#2b328c;
$cl-cam:#EF6222;
$cl-light-blue:#42BEF8;
@mixin media($max-width:768px){
  @media screen and (max-width:$max-width){
    @content
  }
}

@mixin font-myriad{
  font-family: 'MYRIADPROREGULAR' !important;
}
a:hover{
  text-decoration: none !important;
}
.bg-yellow{
  background:$bg-vang;
}
.bg-lightwhite{
  background:#f8f8f8;
}
.no-padding{
  padding:0 !important;
}

header{
  box-shadow:0 3px 5px #666;
}

.whychooseila .whychooseila-container{
  border-bottom:none;
}
.whychooseila-container{
  .whychooseila-content{
    .each-whychoose{
      img{
        @include media(){
          max-width:200px;
        }
      }
    }
  }
}

.wellcome{
  .des-welcome-container{
    margin:0 auto 30px;
    text-align: justify;
    #video-container{
      max-width:800px;
      margin:0 auto 30px;
      border: 5px solid rgba(236,93,40,0.6);
    }
  }
  .welcome-container{
    .flex-container{
      display: flex;
      justify-content:space-between;
      @include media(){
        .each-kv{
          .each-welcome{
            img{
              max-width:90%;
            }
          }
        }
      }
    }
  }
}

.discover{
  .discover-container{
    .each-product{
      position:relative;
      text-align: center;
      box-shadow: 3px 3px 6px #5f5d5d;
      overflow: hidden;
      background:white;
      @include media(){
        box-shadow: none;
        margin-bottom:2rem;
      }
      .mask, .content{
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
      }
      .mask{
        background-color: rgba(255,203,5, 0.8);
        padding: 60px;
        opacity: 0;
        transform: translate(265px, 145px) rotate(45deg);
        transition: all 0.2s ease-in-out;
        width:600px;
        height:600px;
        z-index:2;
        @include media(){
          display: none;
        }
      }
      h3, p{
        color:$cl-xanh;
      }

      .content{
        color:$cl-xanh;
        z-index:3;
        h3{
          text-transform: uppercase;
          text-align: center;
          font-size:2rem;
          padding-bottom:0;
          margin: 20px 40px 40px 40px;
          transform: translate(200px, -200px);
          transition: all 0.2s ease-in-out;
          position: relative;
          @include media(){
            transform: translate(0px, 0px);
            margin: 10px 20px 10px 20px;
          }
        }
        p{
          font-size:1.4rem;
          font-style:italic;
          text-align: center;
          margin-bottom:40px;
          margin-top:70px;
          transform: translate(-400px, 400px);
          transition: all 0.2s ease-in-out;
          padding:0 15px;
          @include media(){
            transform: translate(0px, 0px);
            margin-top:20px;
            text-align: justify;
            &.subtitle{
              margin-top:5px;
              margin-bottom:20px;
              text-align: center;
            }
          }

        }
        img{
          transition: all 0.2s ease-in;
        }
        a.info{
          display: inline-block;
          text-decoration: none;
          padding: 7px 14px;
          background: $cl-xanh;
          color: #fff;
          text-transform: uppercase;
          box-shadow: 0 0 1px #000;
          transform: translate(0px, 500px);
          transition: all 0.2s 0.1s ease-in-out;
          @include media(){
            transform: translate(0px, 0px);
          }
          &:hover{
            box-shadow: 0 0 5px #000
          }
        }
        @include media(){
          position: static;
        }
      }
      &:hover{
        .mask{
          opacity:1;
          transform: translate(-140px, -80px) rotate(45deg);
        }
        h2{
          transform: translate(0px,0px);
          transition-delay: 0.3s;
        }
        p{
          transform: translate(0px,0px);

          transition-delay: 0.4s;
        }
        a.info{
          transform: translate(0px,0px);
          transition-delay: 0.5s;
        }
      }
    }
  }
}

/*EVENT*/
.wrap-event {
  #calendar{
    h2{
      font-size:2.5rem;
      &:after{
        display: none;
      }
    }
  }
}

/*PROGRAM*/
.program{
  .wrap-content-program{
    //max-width:960px;
    margin:0 auto;
    .wrap-before{
      margin-bottom:3rem;
      p{
        font-size:1.6rem;
        line-height:2.2rem;
      }
      ul{
        li{
          font-size:1.6rem;
          line-height:2.2rem;
        }
      }
    }
    .wrap-after{
      p{
        //font-size:2.2rem;
        //line-height:3rem;
        font-weight: 600;
      }
    }
    .wrap-img{
      margin-bottom:15rem;
      &:last-child{
        margin-bottom:5rem;
      }
      .wrap-inner-img{
        -webkit-box-shadow: -20px -15px 32px 0px rgba(214,214,214,1);
        -moz-box-shadow: -20px -15px 32px 0px rgba(214,214,214,1);
        box-shadow: -20px -15px 32px 0px rgba(214,214,214,1);
        border:8px solid white;
        &.right-img{
          -webkit-box-shadow: 20px -15px 32px 0px rgba(214,214,214,1);
          -moz-box-shadow: 20px -15px 32px 0px rgba(214,214,214,1);
          box-shadow: 20px -15px 32px 0px rgba(214,214,214,1);
        }
      }
      @include media(){
        margin-bottom:2rem;
      }
    }
    .wrap-content{
      margin-bottom:15rem;
      &:last-child{
        margin-bottom:5rem;
      }
      p{
        font-size:1.4rem;
        line-height:2.2rem;
        text-align:justify;
        margin-bottom:1.2rem;
      }
      ul{
        li{
          font-size:1.4rem;
          margin-bottom:0.6rem;
          &:last-child{
            margin-bottom:0;
          }
        }
      }
      h4.title-program{
        font-size:1.6rem;
        text-transform: uppercase;
        margin-bottom:1.5rem;
      }
    }
  }
}
.wrap-button{
  margin:1rem 0;
  .btn-reg{
    font-size:1.6rem;
    line-height:2.2rem;
    width:auto;
    height:auto;
    padding:1.2rem 2.5rem;
    border:none;
    font-weight:600;
    width:190px;
    height:45px;
    background:url('../images/btn-dk.png')no-repeat;
    &:hover{
      background:url('../images/btn-dk-hover.png')no-repeat;
      color:white;

    }
  }
  &.small-size{
    .btn-reg{
      font-size:1.2rem;
      padding:0.8rem 2rem;
    }
  }
}
/*GENERAL PROGRAM*/
.general-program{
  .wrap-img-program, .content-program-container{
    margin-bottom:5rem;
    .each-program{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .wrap-img-program{
        img{
          margin:0 auto;
          @include media(){
            max-width:150px;
          }
        }
      }
      .content-program{
        p{
          font-size:1.5rem;
          @include media(){
            text-align:justify;
          }
        }
      }
    }
    @include media(){
      margin:0 auto 2rem;
      img{
        margin:0 auto;
      }
      .each-program{
        margin-bottom:3rem;
        flex-direction:column;
      }
    }
  }
  .content-program-container{
    //max-width:960px;
    margin:0 auto;
  }
  //.content-program{
  //  border:10px solid lighten($bg-vang, 20%);
  //}
}
#loadModal{
  @include media(){
    .modal-dialog{
      margin-top:180px;
    }
  }
}
//.wrap-banner{
//  .jc-slider{
//    list-style-type: none;
//    padding:0;
//  }
//}

.register-container{
  p.subtitle{
    text-align:center;
    font-size:1.6rem;
    @include media(){
      font-size:1.2rem;
      font-weight:600;
    }
  }
}

/*PARTNER*/
.partner{
  .partner-container{
    .slider-partner{
      .slide-item:focus{
        outline:none;
      }
    }
  }
}

/*ACTION*/
section.action{
  .action-container{
    max-width:800px;
    background:$cl-cam;
    margin:0 auto;
    border-radius:15px;
    padding:5rem;
    box-shadow:10px 10px 30px #ccc;
    h4{
      font-size:2.5rem;
      color:white;
      margin-bottom:1.5rem;
      text-align:center;
      @include media(){
        font-size:1.7rem;
      }
    }
    .each-product{
      margin-bottom:3rem;
    }
    .badge-wrapper{
      width:300px;
      height:60px;
      margin-bottom:3rem;
      position:relative;
      z-index:2;
      transform:translateX(-67px);
      -webkit-transform:translateX(-67px);
      &:after{
        content:'';
        width:0;
        height:0;
        position:absolute;
        top:8px;
        right:0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left:20px solid rgba(45,45,45,0.1);
        transform: matrix(1, 0, 0, 1, 0, 22);
        -webkit-transform: matrix(1, 0, 0, 1, 0, 22);
        z-index:1
      }
      &:before{
        content:'';
        position:absolute;
        width: calc(100% - 20px);
        height:40px;
        left:0;
        top:8px;
        background:rgba(45,45,45,0.1);
        transform: matrix(1, 0.05, 0, 1, 0, 15);
        -webkit-transform: matrix(1, 0.05, 0, 1, 0, 15);
        z-index:1
      }
      span.bg{
        background: url('../images/badge.png')no-repeat;
        display:block;
        width:100%;
        height:100%;
        position: absolute;
        z-index:2;
        top:0;
        left:0;
      }
      h3.title-action{
        color:$cl-xanh;
        margin:0;
        padding-left:30px;
        position: relative;
        z-index: 3;
        font-size:1.6rem;
        transform:translateY(30px);
        -webkit-transform:translateY(30px);
        @include media(){
          font-size:1.5rem;
        }
      }
    }
    .content-each{
      ul{
        padding:0;
        li{
          font-size:2rem;
          color:white;
          line-height:2.8rem;
          margin-bottom:15px;
          &:last-child{
            margin-bottom:0;
          }
          @include media(){
            font-size:1.4rem;
            line-height:2.2rem;
            margin-bottom:8px;
          }
        }
      }
    }
  }
  .flex-container{
    display: flex;
    margin-bottom:1rem;
    &:last-child{
      margin-bottom:0;
    }
    .col {
      padding: 0 8px;
      .inner {
        position: relative;
        overflow: hidden;
        img {
          -moz-box-shadow: 3px 3px 6px #848484;
          -webkit-box-shadow: 3px 3px 6px #848484;
          box-shadow: 3px 3px 6px #848484;
          transform: matrix(1,0,0,1,0,0);
          transition:transform 0.3s;
        }
        .title-wrapper {
          position: absolute;
          left: 0;
          bottom: 0;
          background: rgba(255, 203, 5, 0.8);
          padding: 0.6rem 1.5rem;
          width: 100%;
          transition:padding 0.3s 0.2s;
          h4 {
            text-transform: uppercase;
            margin: 0;
            padding: 0;
          }
        }
      }
      &:hover {
        img{
          transform:matrix(1.1, 0,0,1.1,0,0);
        }
        .title-wrapper{
          padding:1rem 1.5rem;
        }
      }
    }
    @include media(){
      flex-direction:column;
      img{
        max-width: auto;
        width:100%;
        margin:0 auto;
      }
      .col{
        margin-bottom:15px;
      }
    }
  }
}

/*DETAIL PROGRAM*/
.content-program-detail{
  .content-detail{
    margin-bottom:1.5rem;
  }
  .img-event-detail{
    img{
      box-shadow: 2px 2px 5px #737373;
      @include media(){
        margin: 0 auto 10px;
      }
    }
    h4{
      text-align: center;
    }
    @include media(){
      .row{
        .col-*{
          margin-bottom:10px;
        }
      }
    }
  }
}

/*BANNER*/
//.wrap-banner{
//  .donkey-text{
//    @include media(){
//      transform: translateX(-30%) matrix(0.55,0,0,0.55,0,0);
//    }
//  }
//}
.wrap-banner-rev{
  #slider-rev{
    ul{
      li{
        .tp-caption.caption01{
            @include font-myriad;
            font-size:3.5rem;
            line-height:4.2rem;
            color:$cl-xanh;
            text-transform: uppercase;
            font-weight:600;
            letter-spacing: 0.1rem;
            @include media(1366px){
              line-height:3.5rem;
              letter-spacing: 1px;
            }
        }
      }
    }
  }
}

.mightySlider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  @include media(1366px){
    height:400px;
  }
  @include media(){
    height:350px;
  }
}
.mightySlider .frame{
  height:100%;
  width:100%;
}

.mightySlider .slide_element {
  height:100%;
}

.mightySlider .slide_element div.slide {
  float: left;
  height: 100%;
  overflow: hidden;
  width:100%;
  position: relative;
}

.mightySlider .frame .slide_element .mSCaption{
  position: absolute;
  z-index: 1002;
  opacity:0;
  &.infoBlockLeftBlack{
    top: 250px;
    left: -30%;
    width:30%;
    h4{
      font-size:30px;
      @include font-myriad;
      font-weight:600;
      line-height:40px;
      text-transform: uppercase;
      margin:0;
      padding:0;
      @include media(1366px){
        font-size:25px;
        line-height:32px;
      }
    }

  }
  &.photo-caption{
    top:-200px;
    left:30px;
  }
}



/*GALLERY-HOME*/
.gallery-content{
  .each-gallery{
    position:relative;
    border:5px solid $cl-xanh;
    box-shadow:3px 3px 5px #a7a7a7;
    transition: border 0.3s;
    //overflow: hidden;
    h4{
      font-size:1.6rem;
      text-transform:uppercase;
      position:absolute;
      padding:5px 20px;
      background:rgba(255,255,255,0.7);
      border-radius:4px;
      bottom:0;
      left:50%;
      transform:translateX(-50%);
      z-index: 1;
      display: inline-block;
      a{
        color:$cl-xanh;
      }
      @include media(767px){
        text-align:center;
      }
    }
    .mask{
      width:100%;
      height:100%;
      background:rgba(247,247,247,0.8);
      position: absolute;
      top:0;
      left:0;
      transform:translate(50px, 50px);
      opacity: 0;
      transition:transform 0.3s, opacity 0.15s;
      z-index: 2;
    }
    .link-ic{
      background:rgba(48, 48, 48, 0.7);
      position: absolute;
      top:50%;
      left:50%;
      transform:matrix(0.5,0,0,0.5,0,0) translate(-50%, -50%);
      opacity:0;
      transition:matrix 0.3s 0.5s, opacity 0.3;
      z-index: 3;
      i{
        font-size:2rem;
        padding:20px;
        color:white;
      }
    }
    &:hover{
      border:5px solid white;
      .mask{
        opacity:1;
        transform:translate(0px, 0px);
      }
      .link-ic{
        opacity: 1;
        transform: matrix(1,0,0,1,0,0) translate(-50%, -50%);
      }
    }
  }
}
.gallery-detail{
  h4.sub-title{
    font-size:2rem;
    text-transform: uppercase;
    text-align:center;
    margin-bottom:3rem;
  }
  .each-photo{
    margin-bottom:1.5rem;
  }
}

/*HOTLINE*/
.topmenu #navbar .navbar-nav > li.hotline{
  a{
    padding:0;
    font-size:16px;
    color:$cl-cam;
  }
  i{
    font-size:14px;
    color:white;
    padding:10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: $cl-cam;
  }
  &:hover{
    &:before, &:after{
      content:'';
      display: none;
    }
  }
}
.ic-phone{
  position:fixed;
  right:10px;
  bottom:10px;
  @include media(){
    img{
      transform: matrix(0.7,0,0,0.7,0,0);
    }
  }

}

.ic-phone:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

footer{
  .phone:before{
    content:'';
    display:inline-block;
    width:17px;
    height:17px;
    background:url('../images/ic-hotline-footer.png');
    margin-right:10px;
    vertical-align:middle;
  }
}

/*SCHEDULE*/
section.schedule{
    .schedule-wrapper{
      .filter{
        margin-bottom:30px;
        .form-filter-wrapper{
          h4.title{
            text-align:center;
            text-transform:uppercase;
            margin-bottom:15px;
            font-size:25px;
          }
          p{
            font-size:14px;
            margin-bottom:20px;
            text-align:center;
          }
          .form{
            margin-bottom:20px;
            select{
              border-color:$cl-xanh;
              color:$cl-xanh;
              @include media(767px){
                margin-bottom:10px;
              }
            }
            .btn-container{
              padding:10px 0;
            }
            button.btn-search{
              border-radius:20px;
              background:$cl-cam;
              color:white;
              border:none;
              padding:6px 20px;
              font-weight:600;
              font-size:14px;
              &:focus{
                outline:none;
              }
            }
          }
        }
      }
      .form-content{
        table{
          thead{
            tr{
              background:#22364a;
            }
            th{
              color:white;
              text-transform: uppercase;
            }
          }
          tbody{
            td{
              font-weight:600;
              a.dk{
                text-transform: uppercase;
                color:$cl-cam;
                font-size:14px;
                text-decoration: underline;
              }
            }
          }
          @include media(767px){
            display: block;
            thead, tbody, th, td, tr{
              display: block;
            }
            thead tr{
              position: absolute;
              top:-999999px;
              left:-999999px;
            }
            tr{
              border:1px solid #ccc;
              margin-bottom:20px;
            }
            td{
              border: none;
              border-bottom: 1px solid #eee;
              position: relative;
              padding-left: 50%;
              text-align:center;
            }
            td:before{
              content:attr(data);
              position: absolute;
              /* Top/left values mimic padding */
              top: 6px;
              left: 6px;
              width: 45%;
              padding-right: 10px;
              white-space: nowrap;
              text-align:left;
              font-weight:600;
            }
          }
        }
      }
    }
}
