.bg-yellow {
  background: #ffcb05; }

.bg-lightwhite {
  background: #f8f8f8; }

.whychooseila .whychooseila-container {
  border-bottom: none; }

.discover .discover-container .each-product {
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  overflow: hidden; }
  .discover .discover-container .each-product .mask, .discover .discover-container .each-product .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .discover .discover-container .each-product .mask {
    background-color: rgba(255, 203, 5, 0.7);
    padding: 60px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    width: 600px;
    height: 600px; }
  .discover .discover-container .each-product .content {
    color: #2b328c; }
    .discover .discover-container .each-product .content h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
      padding-bottom: 0;
      margin: 20px 40px 40px 40px;
      transform: translate(200px, -200px);
      transition: all 0.2s ease-in-out;
      position: relative; }
    .discover .discover-container .each-product .content p {
      font-size: 1.4rem;
      font-style: italic;
      text-align: center;
      margin-bottom: 40px;
      transform: translate(-400px, 400px);
      transition: all 0.2s ease-in-out; }
    .discover .discover-container .each-product .content img {
      transition: all 0.2s ease-in; }
    .discover .discover-container .each-product .content a.info {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      background: #2b328c;
      color: #fff;
      text-transform: uppercase;
      box-shadow: 0 0 1px #000;
      transform: translate(0px, 500px);
      transition: all 0.2s 0.1s ease-in-out; }
      .discover .discover-container .each-product .content a.info:hover {
        box-shadow: 0 0 5px #000; }
  .discover .discover-container .each-product:hover .mask {
    opacity: 1;
    transform: translate(-80px, -125px) rotate(45deg); }
  .discover .discover-container .each-product:hover h2 {
    transform: translate(0px, 0px);
    transition-delay: 0.3s; }
  .discover .discover-container .each-product:hover p {
    transform: translate(0px, 0px);
    transition-delay: 0.4s; }
  .discover .discover-container .each-product:hover a.info {
    transform: translate(0px, 0px);
    transition-delay: 0.5s; }

/*EVENT*/
.wrap-event #calendar h2 {
  font-size: 2.5rem; }
  .wrap-event #calendar h2:after {
    display: none; }

/*PROGRAM*/
.program .wrap-content-program .wrap-img {
  margin-bottom: 15rem; }
  .program .wrap-content-program .wrap-img .wrap-inner-img {
    -webkit-box-shadow: -20px -15px 32px 0px #d6d6d6;
    -moz-box-shadow: -20px -15px 32px 0px #d6d6d6;
    box-shadow: -20px -15px 32px 0px #d6d6d6;
    border: 8px solid white; }
    .program .wrap-content-program .wrap-img .wrap-inner-img.right-img {
      -webkit-box-shadow: 20px -15px 32px 0px #d6d6d6;
      -moz-box-shadow: 20px -15px 32px 0px #d6d6d6;
      box-shadow: 20px -15px 32px 0px #d6d6d6; }
  @media screen and (max-width: 768px) {
    .program .wrap-content-program .wrap-img {
      margin-bottom: 2rem; } }
.program .wrap-content-program .wrap-content {
  margin-bottom: 15rem; }
  .program .wrap-content-program .wrap-content p {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify; }

/*GENERAL PROGRAM*/
.general-program .wrap-img-program, .general-program .content-program {
  margin-bottom: 10rem; }

/*# sourceMappingURL=elt-summer2018.css.map */
